body{
    margin: 0%;
}

.topbar{
    height: 25px;
    padding-top: 0px;
    background-color: rgb(145, 128, 4);
}
.navbar-nav a{
    color: rgb(255, 255, 255);
}
.navbar-nav a:hover{
    color: rgb(221, 221, 221);
}
.srch{
    background-color: rgb(255, 255, 255);
    border-color: rgb(38, 31, 31);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 40px;
}
::placeholder {
    color: rgb(255, 250, 250);
    opacity: 1;
}
.img1foot{
    position: absolute;
    top: 600px;
    left: 200px;
    padding-left:800px;
    padding-top: 100px;
}
#reno{
    color: rgb(255, 255, 255);
 
}
.btn{
    border-radius: 25px;
    border-color: rgb(0, 0, 0);
}

